.main{
	width: 100%;
	height:100vh;
	position: relative;
	overflow: hidden;
	background:linear-gradient(to right ,pink, blue );
}

nav{
	width: 100%;
	position: sticky;
	margin: 0.2;
	z-index: 1;
	display: flex;
	align-items: center;
	background-color: grey;

}
nav :hover{
	color: red;
}
.logo{
	flex-basis: 20%;

}
.logo img{
	width: 150px;
	margin: 20px;

}
.nav-links{
	flex: 1;
	text-align: right;

}
.nav-links ul li{
list-style:none;
display: inline-block;
margin:0 20px;
}
.nav-links ul li a{
	color:#fff;
	text-decoration: none;
}
.informations{
	width: 1000px;
	height: 1000px;
	position:absolute;
	top: 50%;
	left: -50%;
	transform:translateY(-50%);
}

body img{
	height: 400px;
	width: 400px;
	margin:20px;
	
}


body iframe{
	margin-left: 80px;
}

img{
	height: 100px;
	width: 100px;
	margin: 20px;
}
#p{
	height: 20px;
	width: 20px;
}

.re{
	margin-left: 10px;
	display: inline-block;
}

#h{
  margin-left: 10px;
}

nav ul li a{
	padding: 10px;
	font-size: 19px;

}
body footer{
	background-color: linear-gradient(to right ,grey ,black);
	height: 50px;
	width: 96%;
}